/* Gobal styles */
body {
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
ul,li{
  margin: 0px;
  cursor: pointer;
  padding: 0px;
}
a{
  cursor: pointer;
}
.main_wrapper{
  background: url(/static/media/Pattern.942d95d5.png) 100% 100%;
  height: 720px;
  width: 100%;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */

}
.center_colmn_wise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading_wrapper.center_colmn_wise {
  padding: 38px 0px;
    position: absolute;
    width: 100%;
    top: 25px;
}
.heading_wrapper h4 {
  font-weight: 700;
  font-size: 1.5em;
}
.heading_wrapper h2{
  font-weight: 600;
  font-size: 3.6em;
}
.home_login_to {
      padding: 20px 0px;
      position: absolute;
      bottom: 80px;
      width: 100%;
}
.head_login_to {
  padding: 15px 0;
  font-size: 1.96em;
  font-weight: 800;
}
.mnt_btn {
  padding: 10px 29px;
  border: 0;
  background: #13D596;
  color: #ffffff;
  margin: 0 8px;
  box-shadow: 0 0 6px 0px;
}
.wrd_btn {
  border: 0px;
  padding: 10px 58px;
  color: #13D596 ;
  background: #ffff;
  box-shadow: 0 0 6px 0px;
}
.main_wrapper.ward_main_wrap {
  display: flex;
  flex-direction: row;
}
.ward_left_banner{
  background: url('./assets/Images/ward_sign_in.png') 100% 100%;
  height: 100%;
  width: 48%;
}
.ward_sign_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  position: relative;
}
.ward_input_wrap {
  display: flex;
  padding: 31px;
  position: absolute;
  justify-content: start;
  left: 28px;
  width: 100%;
  margin: -44px 0
}
.ward_heading_wrap {
  position: absolute;
  top: 33px;
  left: 34px;
  padding: 20px 35px;
}
.ward_input_wrap span{
  position: absolute;
  color: #979292;
  letter-spacing: 1px;
  font-weight: 600;
  right: 197px;
}
.head_ward_h4 {
  color: #13D596;
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px 0;
  letter-spacing: 2px;
}
.head_ward_h2 {
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing: 2px;
}
.ward_btn_wrap {
  position: absolute;
  margin: 34px -10px;
  left: 75px;
}
.ward_bottom {
  position: absolute;
  bottom: 35px;
  left: 70px;
  font-size: 1.0em;
  font-weight: 700;
}
.ward_bottom a{
  color: #13D596;
}
.input_wrap {
  padding: 0px 0px 15px 12px;
  width: 266px;
}
.input_wrap label {
  color: #979292;
  letter-spacing:1px;
}
.input_wrap span{
  position: absolute;
  font-weight: 600;
  right: 192px;
  color: #979292;
  letter-spacing: 1px;
  bottom: 0;
}
.input_row {
  display: flex;
}

/* ------ ward-dashboard ----- */
.inner_dshbrd_wrap {
  display: flex;
    flex: 1 auto;
    border-left: 1px solid #bdbcbc;
    border-right: 1px solid #bdbcbc;
}
.left_dashboard {
    background: #fff;
    /* float: left; */
    border-right: 1px solid #bdbcbc;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.right_dashboard{
  display: flex;
  width: 96%;
  background: #fff;
  flex-direction: column;
}
.header_dash {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #bdbcbc;
  position: relative;
}
.header_right_dash img {
  width: 14%;
  padding: 7px 16px 0px 15px;
}
.logo_hedng {
  font-size: 1.5em;
  padding: 11px 0;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 0 0px 0px;
  align-items: center;
  position: relative;
  top: 7px;
}
.ward {
  font-size: 0.89em;
  text-align: center;
  padding: 4px 11px;
  background: #e1ecef;
  border-radius: 25px;
  margin: 0 0 0 4px;
  top: 6px;
  font-weight: normal;
  position: relative;
}
.header_left_dash {
  position: absolute;
  right: 100px;
  top: 22px;
}
.mid-section-dshbrd {
  background: #e1ecef4f;
  float: left;
  height: 100%;
  width: 100%;
  min-height: 695px;
}
.inner_dash {
  padding: 15px 57px;
  height: 100%;
  width: 100%;
}
.right-mid-dash {
  position: relative;
  float: left;
  width: 68%;
  /* background: blue; */
  height: 100%;
}
.left-mid-dash {
  float: left;
  position: relative;
  width: 30%;
  /* background: red; */
  height: 100%;
}
.sumry_head{
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}
.sumry_head2{
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2px 9px;
  /* position: absolute;
  left: 0;
  bottom: -7px; */
}
.infusion_wrap {
  display: flex;
  justify-content: space-between;
}
.right-wrap-heading {
  display: flex;
  /* justify-content: space-between; */
    position: relative;
    flex-direction: column;
    padding: 60px 0px;
}
.see_all_txt {
  padding: 2px 9px;
  border-radius: 25px;
  border: 1px solid gray;
  /* position: absolute;
  right: 15px;
  bottom: -7px; */
}
.dash_active_wrap {
  padding: 10px;
}
.list_heading_ul {
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  width:100%;
  margin: 0 auto;
  padding: 0;
}
.active_dsh_list{
  background: #ffff;
  margin-top: 15px !important;
}
.ul_contnt {
  padding: 7px 26px;
  margin: 0px auto;
  border-radius: 12px;
  border-top: 1px solid #e3e3e3;
}
.ul_contnt li{
  width: 20%;
  margin: 0 auto;
  text-align: center;
  padding: 0 9px;
}
.wrapper_progress_bar {
  width: 100%;
  height: 7px;
  background: pink;
  margin: 8px 0;
  border-radius: 15px;
}
.ul_contnt_wrapper {
  background: #ffff;
  padding: 8px 0px;
  margin: 8px 48px;
  border-radius: 18px;
}
.inner_progress_bar {
  width: 66%;
  height: 7px;
  background: red;
  margin: 8px 0;
  border-radius: 15px;
}
.bld_prcnt {
  font-size: 1.54em;
  font-weight: 600;
  letter-spacing: 1px;
}
.bld_txt {
  color: #918b8b;
  font-size: 1.0em;
  letter-spacing: 1px;
  font-weight: 500;
}
.time_in_second.bld_txt {
  padding: 12px;
  font-size: 1.2em;
}
.time_only {
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 600;
}
.speed_up {
  width: 6%;
}
.speed_hr {
  text-align: center;
  position: relative;
  padding: 12px;
}
.speed_hr span {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}
.infusn_usr_img {
  padding: 12px;
}
.infusn_usr_img img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.infusn_usr_fname {
  padding: 12px;
}
.infusn_disease_name {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1px;
}

/* bottom-right-dashboard */


.user_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  margin: 0 16px;
  background: gainsboro;
}

.user_img_nme_wrap {
  padding: 9px 0;
}
.user_img_nme_wrap span {
  /* padding: 21px 0; */
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  top: 2px;
}
.list_heading_ul.ul_contnt.active_dsh_list.bottom li {
  width: 30% !important;
}
.time_btm {
  padding: 15px !important;
}
.list_heading_ul.ul_contnt.active_dsh_list.bottom {
  border: none;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0;
}

.dash_ward_oprtn_wrap {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 18px 15px 0px 0px;
}

.urgnt_oprtn_wrap {
  background: #e82929;
  color: #fff;
  padding: 10px;
  border-radius: 11px;
  box-shadow: 0 0 18px 2px grey;
}
.urgnt_txt {
  font-size: 1.1em;
  padding: 0 13px;
}
.drip_img_wrap img {
  width: 20px;
  height: 25px;
}
.urgnt_number_wrap {
  background: #b7b1b175;
  text-align: center;
  padding: 0px;
  margin: 30px;
  font-size: 3.52em;
  font-weight: bold;
  border-radius: 50%;
  position: relative;
  height: 75px;
  align-items: center;
  width: 75px;
  opacity: 1;
}
.cirlcle_dot {
  height: 12px;
  width: 12px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  right: 6px;
  top: 0px;
  opacity: 1 !important;
}
.urgnt_oprtn_wrap h5 {
  text-align: center;
  padding: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}
.urgnt_oprtn_wrap span {
  opacity: 0.8;
  text-align: center;
}
.urgnt_row {
  display: flex;
  justify-content: space-between;
}
.drip_img_wrap {
  opacity: 1 !important;
  position: relative;
}
.urgnt_row.infusn_wrap .urgnt_txt {
  font-size: 3.6em;
  /* text-align: left !important; */
  /* padding: 25px; */
}
.urgnt_row.infusn_wrap {
  background: #fff;
  width: 100%;
  border-radius: 10px;
  position: relative;
}
.infusn_nrse_wrap {
  width: 61%;
  padding: 0 12px;
}
.infusn_wrap {
  background: #fff;
  padding: 5px;
  border-radius: 12px;
}
.wrpd_icon_num {
  font-size: 3.5em;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.drip_img_wrap img {
  position: absolute;
  right: 3px;
  top: 20px;
}
.infusn_wrap h5 {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  opacity: 0.7;
}
.infusn_wrap.active_nurse {
  margin-top: 7px;
}
.device_inuse {
  position: relative;
  width: 100%;
  background: #ffff;
  display: flex;
  justify-content: space-between;
}
.device_inuse .urgnt_txt{
  font-size: 3.21em;
}
.device_in_use_wrapper {
  position: relative;
  padding: 28px;
  background: #fff;
  width: 92%;
  margin: 13px 0 -6px 0px;
  border-radius: 11px;
  /* z-index: 11; */
  box-shadow: 0 0 1px 0px lightgrey;
}
.devide_inuse_txt {
  text-align: center;
  font-size: 1.2em;
  opacity: 0.7;
  font-weight: 600;
  letter-spacing: 1px;
}
.device_idle {
  position: relative;
  top: 2px;
  font-size: 1.2em;
}
.idle_number {
  font-weight: 600;
}
.idle_txt{
  opacity: 0.7;
}
.tag_name {
  font-size: 1.0em;
  font-weight: 600;
  opacity: 0.7;
  letter-spacing: 1px;
  padding: 12px 0;
}
.device_in_use_wrapper.time_left_wrapper {
  position: relative;
  z-index: 0;
  top: -23px;
}
.inner_left_dashboard {
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  padding: 13px;
}
.menu_wrap {
  list-style: none;
}

.second_menu_wrap {
  display: flex;
  width: 10%;
  background: #fff;
  height: 100%;
  position: absolute;
  z-index: 1;
  padding: 9px 20px;
  flex-direction: column;
  justify-content: space-between;
}
.second_menu_wrap ul {
  list-style: none;
}
.second_menu_wrap ul li {
  padding: 15px;
}
.device_inuse.see_all_wrap {
  justify-content: center;
}


/* operation--- ward--- csss*/

.opertn_srch_mainwrapper {
  display: flex;
  justify-content: flex-end;
}
.operation_search_tab_bar {
  display: flex;
  justify-content: flex-end;
}
.operation_pdng {
  padding: 0 4px;
  position: relative;
}
.operation_pdng {
  padding: 0 4px;
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
}
.oprtn_urgncy_wrap.operation_pdng {
  width: 9%;
  display: flex;
  justify-content: space-between;
}
.fa.fa-chevron-down.cstm_dwn_arrow {
  color: #13D596;
  font-size: 0.89em;
}
.search_icon {
  position: absolute;
  right: 26px;
  top: 12px;
  font-size: 0.89em
}
input.form-control.cstm_search {
  border-radius: 15px;
  background: #ecf1f2;
  height: 39px;
  width: 213px;
  border: none;
}
.txt_urgncy {
  font-size: 0.89em;
}
.oprtn_tabs_main_wrapper {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.oprtn_active_tab {
   padding: 5px 28px;
    background: #ffff;
    margin-bottom: 17px;
    border-radius: 10px;
    font-size: 1.2em;
    height: 34px;
    font-weight: 600
}
.oprtn_history_tab{
    padding: 5px 28px;
    background: none;
    margin-bottom: 17px;
    border-radius: 10px;
    font-size: 1.2em;
    height: 34px;
    opacity: 0.6;
    font-weight: 600;
    margin-left: 10px;
}
.dash_active_wrap.oprtn_scroll_list {
  max-height: 600px;
  overflow-y: scroll;
  border-radius: 12px;
}

/* device ward dashboard css----*/
.dash_ward_device_wrap {
  display: flex;
  justify-content: space-evenly;
  width: 68%;
  flex-direction: column;
}
.infusn_device_wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  justify-content: space-between;
}
.infusn_wrap.green_device {
  background: #13D596;
  color: #fff;
}

.device_infusn h5 {
  text-align: left !important;
}
.right-wrap-heading.devics_lst_clmn {
  padding: 18px 0;
}
.add_new_device_wrap {
  display: flex;
  justify-content: flex-end;
}
.add_device_btn {
  border: 1px solid lightgray;
  padding: 5px 19px;
  margin: 10px;
  border-radius: 15px;
  font-size: 0.92em;
  font-weight: 600;
}
.add_new_device_wrap {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}
ul.list_heading_ul.device_ul {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  padding: 22px 3px 13px 24px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.devic_txt {
  font-size: 1.45em;
}

/*----nurse ward active css--*/


.infusn_wrap.device_infusn.green_device.nurse_active_wrd {
  margin-bottom: 14px;
}
ul.list_heading_ul.nurse_heding_ul {
  padding: 17px 0;
  border-bottom: 1px solid lightgray;
}
.fst_nurs_li {
    width: 18%;
    text-align: center;
}


/*------media ----query---dashbpard---- max-width 955 */



@media only screen and (max-width: 955px) {
  .inner_dash {
    padding: 15px 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrap_left_section {
  display: flex;
  flex-direction: row;
}
.left-mid-dash {
  float: left;
  position: relative;
  width: 100%;
  /* background: red; */
  height: 100%;
}
.right-mid-dash {
  position: relative;
  float: left;
  width: 100%;
  /* background: blue; */
  height: 100%;
}
.device_in_use_wrapper.time_left_wrapper {
  position: relative;
  z-index: 0;
  top: 0px;
  margin-left: 14px;
}
.device_in_use_wrapper {
  position: relative;
  padding: 12px;
  background: #fff;
  width: 25%;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 1px 0px lightgrey;
  flex-direction: column;
}
.device_inuse {
  position: relative;
  width: 100%;
  background: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dash_ward_oprtn_wrap {
  display: flex;
  width: 65%;
  position: relative;
  justify-content: space-between;
  padding: 18px 15px 0px 0px;
}
.device_inuse .urgnt_txt {
  font-size: 2.21em;
}

.urgnt_txt {
  font-size: 1.0em;
  padding: 4px 13px;
}
.devide_inuse_txt {
  text-align: center;
  font-size: 0.89em;
  opacity: 0.7;
  font-weight: 600;
  letter-spacing: 1px;
} 
.device_inuse_img {
  right: 0;
  position: relative;
}


/*ward-opertn--responsive--csss --*/

.operation_search_tab_bar {
  display: flex;
  justify-content: flex-start;
}

}

@media only screen and (max-width: 720px) {
  .wrap_left_section {
    display: flex;
    flex-direction: column;
}
.dash_ward_oprtn_wrap {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  padding: 0;
}
.device_in_use_wrapper {
  position: relative;
  padding: 5px;
  background: #fff;
  width: 100%;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 1px 0px lightgrey;
  flex-direction: row;
}
.see_all_txt {
  padding: 2px 4px;
  border-radius: 25px;
  border: 1px solid gray;
}
.device_in_use_wrapper.time_left_wrapper {
  position: relative;
  z-index: 0;
  top: 0px;
  margin-left: 0px;
}
.bld_prcnt {
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
}
.time_in_second.bld_txt {
  padding: 12px;
  font-size: 0.85em;
}
.time_only {
  font-size: 0.85em;
  letter-spacing: 1px;
  font-weight: 600;
}
.tag_name {
  font-size: 1.0em;
  font-weight: 600;
  opacity: 0.7;
  /* letter-spacing: 1px; */
  padding: 11px 0;
}
.list_heading_ul {
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  margin: 0 auto;
  width: 512px;
  padding: 0;
}
.dash_active_wrap {
  padding: 10px;
  /* width: 100%; */
  overflow: scroll;
  max-width: 512px;
}
.second_menu_wrap {
  display: flex;
  width: 33%;
  background: #fff;
  height: 100%;
  position: absolute;
  z-index: 1;
  padding: 9px 20px;
  flex-direction: column;
  justify-content: space-between;
}
.active_dsh_list {
  background: #ffff;
  margin-top: 15px !important;
  overflow: scroll;
}

.header_left_dash {
  position: relative;
  left: 3px;
  top: 4px;
  width: 48%;
  font-size: 1.23em;
}
.right_dashboard{
  display: flex;
  width: 86%;
  background: #fff;
  flex-direction: column;
}
.header_right_dash img {
  width: 6%;
  padding: 0;
}
.header_dash {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #bdbcbc;
  position: relative;
  flex-direction: column;
}

.dash_ward_device_wrap {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  flex-direction: column;
}

}

